<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="primary">
      <ion-menu-button></ion-menu-button>
    </ion-button>
      <ion-title>
        Photos
      </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
    <ion-list>

          <ion-item *ngFor="let img of photoList" [routerLink]="'/details/' + img.id">
            <ion-avatar slot="start">
              <ion-img [src]="img.url"></ion-img>
            </ion-avatar>
            <ion-label>
              <h1>{{img.title}}</h1>
              <h2>{{img.author}}</h2>
              <p>{{img.description}}</p>
            </ion-label>
        </ion-item>
   </ion-list>

   <ion-item-sliding>
    <ion-item-options side="start">
      <ion-item-option >Favorite</ion-item-option>
      <ion-item-option color="danger">Share</ion-item-option>
    </ion-item-options>

    <ion-item>
      <ion-list>
       <ion-label><strong>SWIPE ME</strong></ion-label>
      </ion-list>
    </ion-item>

    <ion-item-options side="end">
      <ion-item-option >Unread</ion-item-option>
    </ion-item-options>
  </ion-item-sliding>

</ion-content>
