<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-button slot="start" color="primary">
      <ion-menu-button></ion-menu-button>
    </ion-button>
    <ion-title>
      Contact
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div>
    <p>
      Cliquez <a href="https://www.coinbase.com/fr/">ici</a> pour vous rendre sur Coinbase
    </p>
    <p>
      Tel: <a href="tel:+33617520391">0617520391</a>
    </p>
    <p>
      SMS: <a href="sms:+33617520391">0617520391</a>
    </p>
    <p>
      Adresse Email: <a href="mailto:antoine.falgiglio@gmail.com">antoine.falgiglio@gmail.com</a>
    </p>
  </div>
</ion-content>
